body {
    background: linear-gradient(90deg, rgb(19, 2, 19),rgb(80, 9, 80));
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.alert {
    color: white;
}

h3{
    color: white;
    font-size: 30px;
}

p{
    color: white;
    font-size: 20px;
}

#img-container{
    transition: opacity 0.5s ease;
}

#c1:hover {
    content: url('/assets/img/wolves-8372284_1280.jpg'); /* Cambia la imagen al pasar el cursor sobre ella */
}
  